h1 {
  font-size: 40px;
}

main {
  transform: translateY(-260px);
  min-width: 300px;
}

main img {
  height: 30px;
}

main p {
  font-size: 14px;
}

#register {
  margin: 30px auto;
  width: 300px;
}
