@font-face {
    font-family: 'Zilla Slab';
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/ZillaSlab-Regular.woff2") format("woff2"), url("/fonts/ZillaSlab-Regular.woff") format("woff")
}
@font-face {
    font-family: 'Zilla Slab';
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/ZillaSlab-SemiBold.woff2") format("woff2"), url("/fonts/ZillaSlab-SemiBold.woff") format("woff")
}
@font-face {
    font-family: 'Zilla Slab';
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/ZillaSlab-Bold.woff2") format("woff2"), url("/fonts/ZillaSlab-Bold.woff") format("woff")
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/opensans-regular.woff2") format("woff2"), url("/fonts/opensans-regular.woff") format("woff")
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/opensans-semibold.woff2") format("woff2"), url("/fonts/opensans-semibold.woff") format("woff")
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/opensans-bold.woff2") format("woff2"), url("/fonts/opensans-bold.woff") format("woff")
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  height: 150px;
  background-color: #4a4a4a;
  padding: 0 150px;
}

header #wordmark {
  height: 40px;
  margin: 55px 0;
}

#menu-button {
  display: none;
}

#main-navigation {
  display: inline-block;
  height: 50px;
  margin: 50px 0;
  float: right;
}

#main-navigation ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#main-navigation li {
  display: inline-block;
}

#main-navigation a {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 0 5px;
  color: #ccc;
  text-decoration: none;
  font-size: 17px;
  line-height: 50px;
}

#main-navigation a:hover {
  color: #fff;
}

#main-navigation a.selected {
  color: #fff;
}

h1 {
  margin: 0;
  padding: 10px;
  font-size: 36px;
  font-family: "Zilla Slab", serif;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  font-family: "Zilla Slab", serif;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

section {
  padding: 20px;
}

.button {
  display: inline-block;
  background-color: #b6d806;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 0 25px;
  margin: 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  font-family: "Open Sans", sans-serif;
}

.button:hover, .button:active {
  background-color: #d4f919;
}


footer {
  background-color: #4a4a4a;
  text-align: center;
  padding: 10px;
  margin: 0;
}

#footer-wordmark {
  height: 32px;
  padding: 10px;
}

footer #footer-navigation {
  margin: 10px auto 20px auto;
}

footer #footer-navigation a {
  color: #ccc;
  text-decoration: none;
}

footer #footer-navigation a:hover, footer #footer-links a:active {
  color: #fff;
}

footer #footer-navigation ul {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

footer #footer-navigation li {
  list-style-type: none;
  display: inline;
  border-right: solid 1px #ccc;
  padding: 0 10px;
}

footer #footer-navigation li:last-child {
  border-right: none;
}

footer #social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px;
  background-repeat: no-repeat;
  margin: 5px;
}

footer #github-icon {
  background-image: url('../images/github_icon.svg');
}

footer #twitter-icon {
  background-image: url('../images/twitter_icon.svg');
}

#smallprint {
  font-size: 12px;
  color: #ccc;
}

#smallprint a {
  color: #ccc;
}
