body {
  min-width: 300px;
}

header {
  height: 130px;
  padding: 0;
}

header #wordmark {
  height: 30px;
  display: block;
  margin: 0 auto;
  padding: 50px 0;
}

#menu-button {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 53px 30px;
  border: none;
  background-color: transparent;
  background-image: url(/images/menu-button.svg);
  opacity: 0.5;
}

#menu-button:hover, #menu-button:active {
  opacity: 0.75;
}

#main-navigation {
  position: fixed;
  width: 100%;
  max-width: 320px;
  height: calc(100% - 130px);
  margin-top: 0;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
  z-index: 1;
  background-color: #1a1a1a;
}

#main-navigation.expanded {
  transform: translateX(0);
}

#main-navigation li {
  display: block;
  width: 100%;
}

#main-navigation a {
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0;
  margin: 0;
  text-align: left;
  padding: 0 30px;
}

#main-navigation a:hover {
  background-color: #333;
}

#main-navigation a.selected {
  background-color: #333;
}
