h2 {
  text-align: center;
  font-weight: normal;
}

h2 strong {
  font-weight: 600;
}

section p {
  font-size: 16px;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #f6faaf;
  background-image: url('../images/hub_background.png');
  background-position: center;
  background-size: cover;
  padding: 0;
  text-align: center;
  color: #000;
}

#hero p {
  font-size: 20px;
  margin: 30px;
}

#hero .button {
  margin-top: 0;
}

#webthings-gateway-wordmark {
  height: 64px;
  margin-top: 30px;
}

#intro {
  padding-bottom: 0;
}

#intro p {
  display: block;
  margin: 30px auto 0 auto;
  max-width: 600px;
  font-size: 20px;
  text-align: center;
}

.feature {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature.dark-section {
  flex-direction: row-reverse;
}

.feature .illustration img {
  width: 600px;
}

.feature .description {
  flex: 1;
  padding-left: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.feature.dark-section .description {
  padding-left: 0;
  padding-right: 60px;
}

.feature .description h1 {
  font-size: 30px;
  margin: 10px 0;
  padding: 0;
  text-align: left;
}

.feature .description p {
  font-size: 17px;
  margin: 0;
}

#download {
  text-align: center;
}

#download-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.download-box h2 {
  padding-bottom: 0;
}

.download-box p {
  margin-top: 0;
}

.download-box img {
  display: block;
  margin: 20px auto;
  height: 128px;
}

.download-box .button {
  margin: 0 auto 10px auto;
}

#standards p {
  text-align: center;
  font-size: 18px;
}

#standards img {
  display: block;
  width: 800px;
  margin: 40px auto;
}
